body {
	
	margin: 200px;
	padding: 20px;
	display: flex;
	justify-content: center;
	align-items:center;
	background-color:#050210;

}

.circle {
position: relative;
width: 30vh;
height: 30vh;
background: linear-gradient(#fb5dad, #55fb9f, #b97aff);
border-radius: 50%;
animation: animate 0.5s linear infinite;
}

@keyframes animate {
	from{
		transform:rotate(0deg);
	}
to {
	transform: rotate(360deg)
}
}

.circle:after {
	content: '';
	position: absolute;
	top: 20px;
	right: 20px;
	bottom: 20px;
	left:20px;
	border-radius: 50%;
	display: flex;
	box-sizing: border-box;
	background-color: black;
	transform: translate(-50%, -50%);	
	animation: animate 2s linear infinite;
}


.circle span {
position: absolute;
width: 100%;
height: 100%;
background: linear-gradient(#fb5dad, #55fb9f, #b97aff);
border-radius: 50%;

}

.circle span:nth-child(1){
filter:blur(5px);

}

.circle span:nth-child(2){
filter:blur(10px);

}

.circle span:nth-child(3){
filter:blur(20px);

}

.circle span:nth-child(4){
filter:blur(30px);

}

